.main-menu {
    display: flex;
    justify-content: space-between;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    color: white;
}
@keyframes fadeIn {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
.main-menu a{

    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition-property: color;
    transition-delay: 0.1s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    
}
.menu-link-item{
    height: fit-content;
    position: relative;
    overflow: hidden;
}
.main-menu a:hover{
    color: #ed6f73;
}
.menu-link-item::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #ad94ca;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-102%);
    transition: transform 0.5s ease-in;
}
.menu-link-item:hover::after{
    transform: translateX(0%);
}
.menu-page-links ul , .menu-user-links ul{
    width: 100%;
    height: 100%;
    display: flex;
}
.menu-page-links ul li , .menu-user-links ul li{
    margin: 0 10px;
    list-style: none;
}
.menu-user-links{
    margin-right: 100px;
}
.menu-logo{
    margin-left: 100px;
}
.main-menu-arrow-down{
    color: rgb(255, 255, 255);
}
